@import "../styles/reset.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}

html {
  font-size: 16px; /* По умолчанию*/
}

body {
  margin: 0;
  font-family:  'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  background: url("../../shared/assets/img/1636478607254-screen-shot-2021-11-09-at-121950-pm.png") 0 0  / cover no-repeat;
}
